<div class="shell">
    <h1 align="center">Fruits and Vegetables</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of fruits">
                <div class="card" style="width:400px">
                    <img class="card-img-top" [src]="product.imagePath" alt="Card image" style="width:100%;padding:10px;">
                    <div class="card-body">
                        <h4 class="card-title" align="center">{{product.name}}</h4>
                        <!-- <p class="card-text">{{product.description}}</p> -->
                        <h3>₹{{product.price}}/-</h3>
                        <p align="right">
                            <button class="btn btn-primary" (click)="addcart(product)"> Add to Cart </button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h1 align="center">Daily Staples</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of staples">
                <div class="card" style="width:400px">
                    <img class="card-img-top" [src]="product.imagePath" alt="Card image" style="width:100%;padding: 10px">
                    <div class="card-body">
                        <h4 class="card-title" align="center">{{product.name}}</h4>
                        <!-- <p class="card-text">{{product.description}}</p> -->
                        <h3>₹{{product.price}}/-</h3>
                        <p align="right">
                            <button class="btn btn-primary" (click)="addcart(product)"> Add to Cart </button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 align="center">Beverages</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of beverages">
                <div class="card" style="width:400px">
                    <img class="card-img-top" [src]="product.imagePath" alt="Card image" style="width:100%;padding: 10px">
                    <div class="card-body">
                        <h4 class="card-title" align="center">{{product.name}}</h4>
                        <p class="card-text">{{product.description}}</p>
                        <h3>₹{{product.price}}/-</h3>
                        <p align="right">
                            <button class="btn btn-primary" (click)="addcart(product)"> Add to Cart </button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h1 align="center">Cleaning and Household</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of clean">
                <div class="card" style="width:400px">
                    <img class="card-img-top" [src]="product.imagePath" alt="Card image" style="width:100%;padding: 10px">
                    <div class="card-body">
                        <h4 class="card-title" align="center">{{product.name}}</h4>
                        <!-- <p class="card-text">{{product.description}}</p> -->
                        <h3>₹{{product.price}}/-</h3>
                        <p align="right">
                            <button class="btn btn-primary" (click)="addcart(product)"> Add to Cart </button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h1 align="center">Home and Kitchen Essentials</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of home">
                <div class="card" style="width:400px">
                    <img class="card-img-top" [src]="product.imagePath" alt="Card image" style="width:100%;padding: 10px">
                    <div class="card-body">
                        <h4 class="card-title" align="center">{{product.name}}</h4>
                        <!-- <p class="card-text">{{product.description}}</p> -->
                        <h3>₹{{product.price}}/-</h3>
                        <p align="right">
                            <button class="btn btn-primary" (click)="addcart(product)"> Add to Cart </button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h1 align="center">Snack Store</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of snack">
                <div class="card" style="width:400px">
                    <img class="card-img-top" [src]="product.imagePath" alt="Card image" style="width:100%;padding: 10px">
                    <div class="card-body">
                        <h4 class="card-title" align="center">{{product.name}}</h4>
                        <!-- <p class="card-text">{{product.description}}</p> -->
                        <h3>₹{{product.price}}/-</h3>
                        <p align="right">
                            <button class="btn btn-primary" (click)="addcart(product)"> Add to Cart </button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
   
                    
                
        
    
    
</div>

