<br>
<h3 align="center">My Orders</h3>
<div class="container">
<table class="table">
    <thead>
        <th>  {{cartItems.length}} Item  Name</th>
        <th>Quantity</th>
        <th> Price</th>
        <th colspan="1">Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of cartItems">
            <td>{{product.name}}</td>
            <!-- <td>{{product.description}}</td> -->
           <td><div class="form-outline">
                <input id="form1" min="0" (change)="count($event)" name="quantity" value="1" type="number" class="form-control" />
                <!-- <label class="form-label" for="form1">Quantity</label> -->
              </div></td>
            <td>{{product.price}}</td>
            <td><button class="glyphicon glyphicon-trash" (click)="deleteproduct( product)"></button></td>
        </tr>
        <tr>
            <td colspan="2"><h3 align="right">Sub Total: </h3></td>
            <td><h3>{{total}}</h3></td>
            
        </tr>
    </tbody>
   </table>
</div>
<div class="container"> 
    <button class="btn btn-primary" align="right" (click)="pay()"> Pay</button>

</div>

